<div id="home_not_logged_in">
  <section class="main">
    <h1><%= base_title %>って何？</h1>
    <div class="containts">
      <p>
        いらっしゃいませ！<br>
        <%= base_title %>にアクセス頂き誠に有難う御座います。<br>
      </p>
      <p>
        当サイトは、ラーメンをはじめとする麺類をこよなく愛する皆様と、<br>
        お気に入りの店やメニューを共有することを目的とした情報サイトを<br>
        目指しています。<br>
      </p>
      <p>
        是非、アカウントを作成・ログインして<br>充実した麺ライフをお送り下さい！
      </p>
      <%= link_to "アカウント作成", '/signup', class:"btn" %>
      <%= link_to "ログイン", '/login', class:"btn" %>
    </div>
  </section>
</div>