<% provide(:title, 'ログイン') %>
<section id="login" class="user-form content">
  <h1>ログイン</h1>
  <div class="form">
    <%= form_with scope: :session, url: login_url, local: true do |form| %>
      <div><p>メールアドレス</p><%= form.email_field :email %></div>
      <div><p>パスワード</p><%= form.password_field :password %></div>
      <%= form.submit "ログイン", class:"btn" %>
    <% end %>
    <p class="to_signup">
      アカウントをお持ちでない方は
      <a href='/signup'>こちら</a>
    </p>
  </div>
</section>