<h1>ようこそ、<%= @user.handle %>さん。</h1>

<p>“らーめんの里” を訪れて頂いて、大変嬉しく思います。</p>

<p>当サイトではアカウントを作成し、メールでの認証を行って頂いたのちにすべての機能をご利用頂ける様になっております。</p>

<p>お手数ですが、下記リンクよりアカウントの認証をお願い致します。</p>

<%= link_to "認証する", edit_account_activation_url(@user.activation_token, email: @user.email) %>
