<% provide(:title, "他のユーザー") %>
<section id="user-index" class="content">
  <h1>他のユーザー</h1>

  <%= paginate @users %>

  <ol class="users clearfix">
    <%= render @users %>
  </ol>

  <%= paginate @users %>
