<% provide(:title, "他のユーザー") %>
<section id="user-index" class="content">
  <h1>他のユーザー</h1>

  <%= paginate @users %>

  <ul class="users clearfix">
    <%= render @users %>
  </ul>

  <%= paginate @users %>
