<% provide(:title, "#{@user.handle}さん")  %>
<h1><%= @user.handle %> さんのページ</h1>

<% if @user.microposts.any? %>
  <ol>
    <%= render @microposts %>
  </ol>
  <%= paginate @microposts %>
<% else %>
  <h2>まだ投稿がありません。</h2>
<% end %>

<div id="delete_button_for_admin">
  <% if current_user.admin? && !current_user?(@user) %>
    <%= link_to "ユーザー削除", @user, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: "btn btn-secondary btn-sm" %>
  <% end %>
</div>
