<% if @feed_items.any? %>
  <ol class="posts">
  <% @feed_items.each do |item| %>
    <% @micropost = item %>
    <%= render 'microposts/micropost' %>
  <% end %>
  </ol>
  <%= paginate @feed_items %>
<% else %>
  <p>
    表示する投稿がありません。<br>
    新たに投稿をするか、他のユーザーをフォローしてみましょう。
  </p>
<% end %>