@import "bootstrap";

:root {
  --footer-height: 60px;
}

/* universal */
html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  padding-bottom: calc(var(--footer-height) + 60px);
  box-sizing: border-box;
  position: relative;
}


/* header */
header {
  height: 80px;
  background-color: #cc3300;
  margin-bottom: 60px;
  a {
    color: #ffffff;
    text-decoration: none;
    border-radius: 0.3rem;
  }
  a#logo {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: -30px;
    font-size: 2.5em;
    letter-spacing: -1px;
    font-weight: bold;
    &:hover {
      color: #ffffff;
      background-color: #990000;
    }
  }
  ul.navbar-nav {
    flex-direction: row;
    margin-right: -30px;
    a.menu {
      padding: 10px;
      margin-left: 10px;
      font-size: 15px;
      font-weight: bold;
      &:hover {
        color: #ffffff;
        background-color: #990000;
      }
    }
  }


  li.dropdown-item a {
    color: $black;
  }
}

/* footer */
footer {
  background-color: #ececec;
  height: var(--footer-height);
  width: 100%;
  position: absolute;
  bottom: 0;
  div {
    height: 100%;
    position: relative;
    p {
      width: 100%;
      margin-bottom: 0;
      position: absolute;
      bottom: 0;
    }
  }
}
