@charset "utf-8";

/* 基本設定 */
/* スクロールバー:15px */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  .clearfix:after {
    content: "";
      display: block;
      clear: both;
  }
  /* 初期設定リセット */
  p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
  
  img {
    vertical-align: bottom;
  }
  
  ul,ol {
    margin: 0;
    padding: 0;
    border: 0;
  }
  li {
    list-style-type: none;
  }

  .btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }

  input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 0;
    font: inherit;
    outline: none;
  }
  /* 背景 */
  // background-image: image-url('logo_bg.png');
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: 300px 300px;
  // background-position: center center;
  /* 文字 */
  font-family: 'M PLUS 1p', sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 2;
  a {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:hover {
      text-decoration: underline dotted;
    }
  }
  /* ユーザーアイコン */
  img.normal-icon {
    border-radius: 20px;
  }
  img.small-icon {
    border-radius: 10px;
  }
  /* 見出しアイコン */
  .icon::before {
    content: "";
    padding-right: 10px;
    border-left: 5px solid #ff0000;
  }
  /* フォームの必須項目マーク */
  .required::after {
    display: inline;
    vertical-align: text-top;
    content: " * ";
    font-size: 10px;
    color: #ff0000;
  }
  /* ページネーション */
  .pagination {
    span a {
      display: inline-block;
      line-height: 1;
      text-align: center;
      border: 1px solid #00000073;
      padding:3px 5px;
      &:hover {
        background-color: #ff0000;
        color: #ffffff;
        border-color: #ff0000;
        text-decoration: none;
      }
    }
    .current {
      cursor: default;
      display: inline-block;
      line-height: 1;
      text-align: center;
      padding:3px 5px;
    }
  }
  /* フィード内投稿 */
  .feed_post {
    margin: 0 10px 30px 0;
    padding: 28px;
    border: 2px solid #ff00007c;
    border-radius: 5px;
    .h3 {
      display: block;
      font-size: 22px;
      font-weight: bold;
    }
    p {
      line-height: 1.5;
      margin-bottom: 10px;
      a {
        font-size: medium;
        line-height: 1;
        color: #3f3f3f;
      }
    }
    .pics {
      width: 575px;
      overflow-x: scroll;
      white-space: nowrap;
    }
    .no-pics {
      background-color: #f0f0f0;
      border-radius: 5px;
      margin: 10px 0;
      padding-left: 10px;
    }
    small {
      display: block;
      line-height: 1.2;
      a {
        font-weight: bold;
      }
    }
    .vst_post {
      margin: 10px 0;
      font-size: medium;
      line-height: 1;
    }
  }
  /* ユーザー情報(/shared_user_info) */
  .user-stats {
    div {
      text-align: center;
    }
    table {
      margin-top: 10px;
      border-spacing: 0;
      border-collapse: collapse;
      text-align: center;
      line-height: 1.2;
      .row1 {
        height: 36px;
        border-top: 1px dashed #cacaca;
      }
      th {
        font-weight:lighter;
        font-size: 16px;
      }
      td {
        font-weight: bold;
      }
      th, td {
        // border: 1px solid #504f4f;
        width: 109px;
      }
    }
    .divider {
      border-top: 1px dashed #cacaca;
      margin-bottom: 10px;
    }
    .strong-divider {
      border-top: 1px solid #808080;
      margin: 10px 0;
    }
    .follow-btn, .unfollow-btn {
      box-sizing: border-box;
      width: 220px ;
    }
    .unfollow-btn {
      color: #ff0000;
      background-color: #ffffff;
      &:hover {
        background-color: #c7c7c7;
      }
    }
  }
  /* ボタン */
  .btn {
    display: block;
    width: 120px;
    padding: 15px 5px;
    line-height: 1;
    font-family: initial;
    font-size: 15px;
    font-weight: bolder;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 5px;
    border: none;
    &:hover {
      background-color: #7e0000;
      text-decoration: none;
    }
  }
  /* 削除ボタン */
  .delete-btn {
    padding: 3px;
    background-color: #a7a7a7;
    font-size: medium;
    border: 2px solid #999999;
    border-radius: 3px;
    &:hover {
      font-weight: normal;
      background-color: #999999;
      border-color: #a7a7a7;
      text-decoration: none;
    }
  }
  /* フラッシュメッセージ */
  .alert-success {
    background-color: #ccffc2;
    border: 3px solid #a6ff94;
    border-radius: 3px;
  }
  .alert-success, .alert-danger {
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    text-align: center;
  }
  /* エラーメッセージ */
  #error_explanation {
    background-color: #ff00003b;
    border: 3px solid #ff000080;
    border-radius: 3px;
    padding-left: 10px;
    li {
      color: #504f4f;
      font-size: smaller;
    }
  }
  .alert-login, .alert-danger {
    background-color: #ff00003b;
    border: 3px solid #ff000080;
    border-radius: 3px;
  }
  .alert-login {
    line-height: 1.2;
    padding: 0;
    div {
      margin: 15px !important;
      font-size: 16px;
    }
  }
}

/* ヘッダー */
header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ff0000;
  /* ロゴ */
  .logo {
    float: left;
    margin: auto;
    img {
      height: 80px;
      &:hover {
        background-color: #7e0000;
      }
    }
  }
  /* メインメニューバー */
  .dropdown-menu {
    font-family: initial;
    float: right;
    display: block;
    li {
      float: left;
      list-style: none;
      position: relative;
      width: 150px;
      height: 80px;
    }
    a {
      padding: 23px 0;
      font-size: 17px;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      display: block;
      &:hover {
        background-color: #7e0000;
        text-decoration: none;
      }
    }
    li.user-icon-box {
      width: 80px;
      a {
      padding: 15px 0;
      margin: auto 0;
      }
    }
  }
  /* サブメニュー */
  ul.dropdown-menu {
    ul {
      position: absolute;
      right:-20px;
      display: block;
      margin: 0;
      padding: 0;
      li.dropdown-divider {
        height:0;
        border-top: 1px solid #000000;
      }
      li {
        height: 50px;
        width: 140px;
      }
      a {
        box-sizing: border-box;
        line-height: 2;
        height: 50px;
        width: 140px;
        margin: 0 !important;
        padding: 10px 0 !important;
        text-align: center;
        font-size: 15px;
        background-color: #5a5a5a;
        &:hover {
          background-color: #7e0000;
          text-decoration: none;
        }
      }
    }
    li ul{
      display: none;
    }
    li:hover ul {
      display: block;
    }
  }
}

/* フッター */
footer {
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  small {
    font-size: small;
  }
}

/* コンテンツ */
.wrap {
  box-sizing: border-box;
  clear: both;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  .content {
    width: 960px;
    margin: 0 auto;
    /* サイドバー */
    aside {
      box-sizing: border-box;
      float:right;
      background-color: #f0f0f0;
      border-radius: 5px;
      width: 240px;
      padding: 20px 10px;
      margin-top: 20px;
    }
  }
}

/* ログイン前ホーム(/) */
#home_not_logged_in {
  section {
    text-align: center;
    h1 {
      margin-top: 30px;
      margin-bottom: 10px;
    }
    .containts {
      width: 600px;
      margin:0 auto;
      padding: 20px;
      background-color: #f0f0f0;
      border-radius: 5px;
      font-size: 18px;
      .btn {
        margin: 10px auto 10px;
        color: #ffffff;
      }
    }
  }
}

/* 入力フォーム
   サインアップ(/signup),ログイン(/login),プロフィール編集(/edit_user/:id) */
.user-form {
  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .form {
    background-color: #f0f0f0;
    border-radius: 3px;
    width: 380px;
    margin: 0 auto;
    font-size: 18px;
    padding: 20px;
    div {
      margin-top: 20px;
      p {
        display: inline-block;
        width: 150px;
      }
      input {
        background-color: #ffffff;
        height: 25px;
        padding: 5px;
        font-size: 16px;
        border: 2px solid #a00000;
        border-radius: 3px;
        &:focus {
          border: medium solid #ff0000;
          padding: 4px;
        }
      }
      .field_with_errors {
        display: inline-block;
        margin:0;
      }
    }
    small {
      display: block;
      height: 12px;
      text-align: center;
      color: #504f4f;
      font-size: 12px;
      line-height: 1;
    }
    .btn {
      margin: 30px auto 20px;
    }
  }
}

/* ログイン（/login） */
#login {
  .to_signup {
    margin: 20px 0;
    text-align: center;
    font-size: small;
    a {
      color: #ff0000;
    }
  }
}
/* フィード外枠(/, /users/:id) */
.microposts {
  box-sizing: border-box;
  float: left;
  width:700px;
  padding:20px;
  h2 {
    margin-bottom: 24px;
  }
  .posts {
    background-color: #ffffff;
    overflow-y: scroll;
    // height: calc(150vh);
    margin-bottom: 10px;
  }
}

/* ログイン後ホーム(/) */
#home_logged_in {
  h1 {
    margin: 0 0 24px 20px;
  }
  aside {
    a {
      display: block;
      font-size: 18px;
    }
  }
}

/* ユーザーページ(/users/:id) */
#mypage {
  h1 {
    margin: 0 0 24px 20px;
  }
  aside {
    p, .icon {
      display: block;
      font-size: 18px;
    }
  }
}

/* ユーザー一覧ページ(/user_index) */
#user-index, #follow {
  width: 750px;
  margin: 0 auto;
  li {
    box-sizing: border-box;
    float:left;
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 240px;
    padding: 20px 10px;
    margin: 20px 5px 0;
    .index-handle {
      line-height: 1.3;
      white-space: nowrap;
      overflow-x: hidden;
    }
  }
}

/* プロフィール編集(/edit_user/:id) */
#edit-user {
  .user-icon-box {
    text-align: center;
  }
  .input-file {
    margin: 0;
    padding: 0 45px;
    input[type="file" i] {
      width: 280px;
      height: 30px;
      border: none;
      align-items: center;
      background-color: inherit;
    }
  }
}

/* 投稿詳細ページ(posts/:id) */
#post-detail {
  .main {
    box-sizing: border-box;
    float:left;
    width: 700px;
    padding: 20px;
    h2 {
      font-size: 24px;
      font-weight: normal;
    }
    table {
      box-sizing: border-box;
      width: 660px;
      margin: 18px 0 40px;
      border-spacing: 0px;
      border-collapse: collapse;
      border: 2px solid #cccccc;
      th {
        width: 150px;
        padding-left: 10px;
        vertical-align: top;
        text-align: left;
        font-size: 18px;
        background-color: #f0f0f0;
        border: 1px solid #cccccc;
      }
      td {
        padding-left: 8px;
        vertical-align: top;
        border: 1px solid #cccccc;
        line-height: 1.7;
        div.pics {
          width: 485px;
          overflow-x: scroll;
          padding-bottom: 34px;
          white-space: nowrap;
        }
      }
    }
    div {
      font-size: 16px;
    }
  }
  aside {
    p, a {
      display: block;
      font-size: 18px;
    }
    .divider {
      margin: 9px 0;
      border-bottom: 1px solid #cccccc;
    }
  }
}

/* 投稿フォーム(/postit) */
#postit {
  width: 660px;
  margin: 0 auto;
  h1 {
    font-size: 30px;
  }
  .form {
    table {
      box-sizing: border-box;
      width: 660px;
      margin: 18px auto 5px 0;
      border-spacing: 0px;
      border-collapse: collapse;
      border: 2px solid #cccccc;
      th {
        width: 150px;
        padding-top: 4px;
        padding-left: 10px;
        vertical-align: top;
        text-align: left;
        font-size: 18px;
        background-color: #f0f0f0;
        border: 1px solid #cccccc;
        p {
          display:inline;
        }
        .reference-mark {
          display: inline;
          font-size: 10px;
        }
      }
      td {
        padding-left: 8px;
        vertical-align: top;
        border: 1px solid #cccccc;
        line-height: 1.7;
        input, textarea {
          font-family: initial;
          background-color: #ffffff;
          padding: 5px;
          font-size: 16px;
          border: 2px solid #a00000;
          border-radius: 3px;
          &:focus {
            border: medium solid #ff0000;
            padding: 4px;
          }
        }
        input[type="file" i] {
          width: 264px;
          border: none;
          cursor: pointer;
          align-items: center;
        }
        textarea {
          width: 460px;
          height: 150px;
          line-height: 1.5;
        }
        .field_with_errors {
          display: inline-block;
          margin:0;
        }
      }
    }
    small {
      display: block;
      font-size: 13px;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    .btn {
      margin-bottom: 20px;
    }
  }
  .link {
    font-size: 18px;
    line-height: 1.3;
  }
}