@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-image: image-url('logo_mencek.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 300px 300px;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}
