<header class="navbar navbar-fixed-top">
  <div class="container">
      <%= link_to base_title, '/', id: "logo", class:"text-decoration-none" %>
      <nav>
        <ul class="nav navbar-nav navbar-right flex-row">
          <li><%= link_to "アカウント作成", '#', class:"menu" %></li>
          <li><%= link_to "ログイン", '#', class:"menu" %></li>
        </ul>
      </nav>
  </div>
</header>
